@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Fira Code", monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: clamp(1rem, 2.4vw, 5rem);
  max-width: 600px;
}

.inner {
  padding-left: 2.5vw;
}

.velvet {
  color: #c678c1;
}

.yellow {
  color: #ea9f46;
}

.blue {
  color: #099376;
}
